<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>CV</title>
		<script src="js/angular.min.js"></script>
		<script src="js/myScript.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/xeditable.css" rel="stylesheet">
		<script src="js/xeditable.js"></script>
		<script src="js/firebase.js"></script>
		<script src="js/angularfire.min.js"></script>
	</head>
	<body style="background-color: #c0c0c0">
		<div ng-app="myApp" style="width: 1000px; margin: 40px auto; background-color: white">
			<div ng-controller="myController">
				<div class="container" >
					<div class="row" style="background-color: #808080; font-size:20px; width:1000px">
						<div class="col-sm-4"></div>
						<a class="col-sm-4" style="text-align:center; color:#00FF00" href="#" editable-text="profile.Headline"  e-form="btnHeadline" >{{profile.Headline|| "empty" }}</a>
						<div class="col-sm-4">
							<img src="images/edit.png" class="btn btn-default" ng-click="btnHeadline.$show()" ng-hide="btnHeadline.$visible"/>
						</div>
					</div>
				</div>
				</br></br>
				<div class="row container" style="margin-left:20px;margin-bottom:20px;">
					<image class="col-sm-4" style ="height: 250px; width:250px;" src="{{images.Avatar}}">
					<div class="col-sm-8" style="margin-left: 10px margin-top:10px; margin-bottom=10px;">
						<a href="#" editable-text="profile.MyName" ><span style= "font-size: 200%;color:black;"><strong>{{ profile.MyName || "empty" }}</strong></span></a>
						</br></br>
						<div class ="row">
							<div class="col-sm-2 text-muted">Job: </div>
							<a style="color:black;" href="#" editable-text="profile.MyWork">{{ profile.MyWork|| "empty" }}</a>
						</div>
						<div class ="row">
							<div class="col-sm-2 text-muted">Education: </div> 
							<a style="color:black;" href="#" editable-text="profile.Education">{{ profile.Education|| "empty" }}</a>
						</div>
						<div class ="row">
							<div class="col-sm-2 text-muted">Email: </div> 
							<a style="color:black;" href="#" editable-text="profile.Contact">{{ profile.Contact|| "empty" }}</a>
						</div>
						<div class ="row">
							<div class="col-sm-2 text-muted">Phone: </div> 
							<a style="color:black;" href="#" editable-text="profile.Phone">{{ profile.Phone|| "empty" }}</a>
						</div>
						<div class ="row">
							<div class="col-sm-2 text-muted">Nationality: </div> 
							<a style="color:black;" href="#" editable-text="profile.Country">{{ profile.Country|| "empty" }}</a>
						</div>
					</div>
					</br></br>
				</div>
				<div class="clearfix"></div>
				
				<div style="width: 100%; height:20px; background-color: #c0c0c0; color:#c0c0c0;magin-top:6px; margin-bottom:6px"> </div>
				<div class="row container" style="margin-left:20px;">
					<h3 class="col-sm-12"><strong>Background</strong></h3>
				</div>
				</br>
				<div class="row container" style="margin-left:20px;">
					
					<div class="row">
						<div class="col-sm-3">
							<image style="display: inline; width: 30px;height: 30px; margin-left: 60px" src="{{images.summary}}">
							<span><strong>Summary</strong></span>
						</div>
						<div class="col-sm-2 col-sm-offset-5">
							<button type="button" class="btn btn-default" ng-click="hidesummary=true">
							Add
							</button>
						</div>
					</div>
					</br>
					<ul style="margin-left:80px;">
						<li ng-repeat="value in summary"><a style="color:black;" href="#" editable-text="value.key">{{value.key|| "empty" }}</a></li>
					</ul>
					<form class="container" style="margin-left:100px;" ng-show="hidesummary">
						<input type="text" ng-model="textsummary" placeholder="summary" ng-required/>
						<button type="button" class="btn btn-primary" ng-click="AddSummary()">Save</button>
						<button type="button" class="btn btn-default" ng-click="CancelFormSummary()">Cancel</button>
					</form>
					
				</div>
				<div class="clearfix"></div>
				
				<hr/>
				
				<div class="row container" style="margin-left:20px;">
					<div class="row">
						<div class="col-sm-3">
							<image style="display: inline; width: 30px;height: 30px; margin-left: 60px" src="{{images.experience}}">
							<span><strong>Experience</strong></span>
						</div>
						<div class="col-sm-2 col-sm-offset-5">
							<button type="button" class="btn btn-default" ng-click="hideexperience=true ">
							Add
							</button>
						</div>
					</div>
					</br>
					<ul style="margin-left:80px;">
						<li ng-repeat="value in experience"><a style="color:black;" href="#" editable-text="value.key">{{value.key|| "empty" }}</a></li>
					</ul>
					<form class="container" style="margin-left:100px;" ng-show="hideexperience">
						<input type="text" ng-model="textexperience" placeholder="experience" ng-required/>
						<button type="button" class="btn btn-primary" ng-click="AddExperience()">Save</button>
						<button type="button" class="btn btn-default" ng-click="CancelFormExperience()">Cancel</button>
					</form>
				</div>
				<div class="clearfix"></div>
				
				<hr/>
				
				<div class="row container" style="margin-left:20px;">
					<div class="row">
						<div class="col-sm-3">
							<image style="display: inline; width: 30px;height: 30px; margin-left: 60px" src="{{images.project}}">
							<span><strong>Project</strong></span>
						</div>
						<div class="col-sm-2 col-sm-offset-5">
							<button type="button" class="btn btn-default" ng-click="hideproject=true">
							Add
							</button>
						</div>
					</div>
					
					</br>
					<ul style="margin-left:80px;">
						<li ng-repeat="value in project"><a style="color:black;" href="#" editable-text="value.key">{{value.key|| "empty" }}</a></li>
					</ul>
					<form class="container" style="margin-left:100px;" ng-show="hideproject">
						<input type="text" ng-model="textproject" placeholder="project" ng-required/>
						<button type="button" class="btn btn-primary" ng-click="AddProject()">Save</button>
						<button type="button" class="btn btn-default" ng-click="CancelFormProject()">Cancel</button>
					</form>
				</div>
				<div class="clearfix"></div>
				
				<hr/>
				
				<div class="row container" style="margin-left:20px;">
					<div class="row">
						<div class="col-sm-3">
							<image style="display: inline; width: 30px;height: 30px; margin-left: 60px" src="{{images.skill}}">
							<span><strong>Skills</strong></span>
						</div>
						<div class="col-sm-2 col-sm-offset-5">
							<button type="button" class="btn btn-default" ng-click="hideskills=true">
							Add
							</button>
						</div>
					</div>
				
					</br>
					<ul style="margin-left:80px;">
						<li ng-repeat="value in skills"><a style="color:black;" href="#" editable-text="value.key">{{value.key|| "empty" }}</a></li>
					</ul>
					<form class="container" style="margin-left:100px;" ng-show="hideskills">
						<input type="text" ng-model="textskills" placeholder="skill" ng-required/>
						<button type="button" class="btn btn-primary" ng-click="AddSkill()">Save</button>
						<button type="button" class="btn btn-default" ng-click="CancelFormSkill()">Cancel</button>
					</form>
				</div>
				<div class="clearfix"></div>
				
				<hr/>
				
				<div class="row container" style="margin-left:20px;">
					<div class="row">
						<div class="col-sm-3 ">
							<image style="display: inline; width: 30px;height: 30px; margin-left: 60px" src="{{images.education}}">
							<span><strong>Education</strong></span>
						</div>
						<div class="col-sm-2 col-sm-offset-5">
							<button type="button" class="btn btn-default" ng-click="hideeducation=true">
							Add
							</button>
						</div>
					</div>
					
					</br>
					<ul style="margin-left:80px;">
						<li ng-repeat="value in education"><a style="color:black;" href="#" editable-text="value.key">{{value.key|| "empty" }}</a></li>
					</ul>
					<form class="container" style="margin-left:100px;" ng-show="hideeducation">
						<input type="text" ng-model="texteducation" placeholder="education" ng-required/>
						<button type="button" class="btn btn-primary" ng-click="AddEducation()">Save</button>
						<button type="button" class="btn btn-default" ng-click="CancelFormEducation()">Cancel</button>
					</form>
					</br></br>
				</div>
				<div class="clearfix"></div>
			</div>
	    </div>
		
	</body>
</html>