<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>CV</title>
		<script src="js/angular.min.js"></script>
		<script src="js/myScript.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/xeditable.css" rel="stylesheet">
		<script src="js/xeditable.js"></script>
	</head>
	<body style="background-color: #c0c0c0">
		<div ng-app="myApp" style="width: 1000px; margin: 40px auto; background-color: white">
			<div ng-controller="myController">
				<div class="row container" >
					<h3 style="background-color: #808080;color:	#00FF00; width: 1000px;" class="col-sm-12 text-center">{{myData.PROFILE.Headline}}</h5>
				</div>
				</br></br>
				<div class="row container" style="margin-left:20px;margin-bottom:20px;">
					<image class="col-sm-4" style ="height: 250px; width:250px;" src="{{myData.IMAGES.Avatar}}">
					<div class="col-sm-8" style="margin-left: 10px margin-top:10px; margin-bottom=10px;">
						<a href="#" editable-text="myData.PROFILE.MyName"><span style= "font-size: 200%;color:black;"><strong>{{ myData.PROFILE.MyName || "empty" }}</strong></span></a>
						</br></br>
						<div class ="row">
							<div class="col-sm-2 text-muted">Job: </div>
							<a style="color:black;" href="#" editable-text="myData.PROFILE.MyWork">{{ myData.PROFILE.MyWork|| "empty" }}</a>
						</div>
						<div class ="row">
							<div class="col-sm-2 text-muted">Education: </div> 
							<a style="color:black;" href="#" editable-text="myData.PROFILE.Education">{{ myData.PROFILE.Education|| "empty" }}</a>
						</div>
						<div class ="row">
							<div class="col-sm-2 text-muted">Email: </div> 
							<a style="color:black;" href="#" editable-text="myData.PROFILE.Contact">{{ myData.PROFILE.Contact|| "empty" }}</a>
						</div>
						<div class ="row">
							<div class="col-sm-2 text-muted">Phone: </div> 
							<a style="color:black;" href="#" editable-text="myData.PROFILE.Phone">{{ myData.PROFILE.Phone|| "empty" }}</a>
						</div>
						<div class ="row">
							<div class="col-sm-2 text-muted">Nationality: </div> 
							<a style="color:black;" href="#" editable-text="myData.PROFILE.Country">{{ myData.PROFILE.Country|| "empty" }}</a>
						</div>
					</div>
					</br></br>
				</div>
				<div class="clearfix"></div>
				
				<div style="width: 100%; height:20px; background-color: #c0c0c0; color:#c0c0c0;magin-top:6px; margin-bottom:6px"> </div>
				<div class="row container" style="margin-left:20px;">
					<h3 class="col-sm-12"><strong>Background</strong></h3>
				</div>
				</br>
				<div class="row container" style="margin-left:20px;">
					
					<div class="row">
						<div class="col-sm-3">
							<image style="display: inline; width: 30px;height: 30px; margin-left: 60px" src="{{myData.IMAGES.summary}}">
							<span><strong>Summary</strong></span>
						</div>
						<div class="col-sm-2 col-sm-offset-5">
							<button type="button" class="btn btn-default" ng-click="hidesummary=true">
							Add
							</button>
						</div>
					</div>
					</br>
					<ul style="margin-left:80px;">
						<li ng-repeat="summary in myData.SUMMARY"><a style="color:black;" href="#" editable-text="summary.key">{{summary.key|| "empty" }}</a></li>
					</ul>
					<form class="container" style="margin-left:100px;" ng-show="hidesummary">
						<input type="text" ng-model="summary" placeholder="summary" ng-required/>
						<button type="button" class="btn btn-primary" ng-click="AddSummary()">Save</button>
						<button type="button" class="btn btn-default" ng-click="CancelFormSummary()">Cancel</button>
					</form>
					
				</div>
				<div class="clearfix"></div>
				
				<hr/>
				
				<div class="row container" style="margin-left:20px;">
					<div class="row">
						<div class="col-sm-3">
							<image style="display: inline; width: 30px;height: 30px; margin-left: 60px" src="{{myData.IMAGES.experience}}">
							<span><strong>Experience</strong></span>
						</div>
						<div class="col-sm-2 col-sm-offset-5">
							<button type="button" class="btn btn-default" ng-click="hideexperience=true">
							Add
							</button>
						</div>
					</div>
					</br>
					<ul style="margin-left:80px;">
						<li><a style="color:black;" href="#" editable-text="myData.EXPERIENCE.Experience1">{{ myData.EXPERIENCE.Experience1|| "empty" }}</a></li>
						<li><a style="color:black;" href="#" editable-text="myData.EXPERIENCE.Experience2">{{ myData.EXPERIENCE.Experience2|| "empty" }}</a></li>
					</ul>
					<form class="container" style="margin-left:100px;" ng-show="hideexperience">
						<input type="text" ng-model="experience" placeholder="experience" ng-required/>
						<button type="button" class="btn btn-primary" ng-click="AddExperience()">Save</button>
						<button type="button" class="btn btn-default" ng-click="CancelFormExperience()">Cancel</button>
					</form>
				</div>
				<div class="clearfix"></div>
				
				<hr/>
				
				<div class="row container" style="margin-left:20px;">
					<div class="row">
						<div class="col-sm-3">
							<image style="display: inline; width: 30px;height: 30px; margin-left: 60px" src="{{myData.IMAGES.project}}">
							<span><strong>Project</strong></span>
						</div>
						<div class="col-sm-2 col-sm-offset-5">
							<button type="button" class="btn btn-default" ng-click="hideproject=true">
							Add
							</button>
						</div>
					</div>
					
					</br>
					<ul style="margin-left:80px;">
						<li><a style="color:black;" href="#" editable-text="myData.PROJECT.Project1">{{ myData.PROJECT.Project1|| "empty" }}</a></li>
						<li><a style="color:black;" href="#" editable-text="myData.PROJECT.Project2">{{ myData.PROJECT.Project2|| "empty" }}</a></li>
					</ul>
					<form class="container" style="margin-left:100px;" ng-show="hideproject">
						<input type="text" ng-model="project" placeholder="project" ng-required/>
						<button type="button" class="btn btn-primary" ng-click="AddProject()">Save</button>
						<button type="button" class="btn btn-default" ng-click="CancelFormProject()">Cancel</button>
					</form>
				</div>
				<div class="clearfix"></div>
				
				<hr/>
				
				<div class="row container" style="margin-left:20px;">
					<div class="row">
						<div class="col-sm-3">
							<image style="display: inline; width: 30px;height: 30px; margin-left: 60px" src="{{myData.IMAGES.skill}}">
							<span><strong>Skills</strong></span>
						</div>
						<div class="col-sm-2 col-sm-offset-5">
							<button type="button" class="btn btn-default" ng-click="hideskills=true">
							Add
							</button>
						</div>
					</div>
				
					</br>
					<ul style="margin-left:80px;">
						<li><a style="color:black;" href="#" editable-text="myData.SKILLS.skill1">{{ myData.SKILLS.skill1|| "empty" }}</a></li>
						<li><a style="color:black;" href="#" editable-text="myData.SKILLS.skill2">{{ myData.SKILLS.skill2|| "empty" }}</a></li>
					</ul>
					<form class="container" style="margin-left:100px;" ng-show="hideskills">
						<input type="text" ng-model="skills" placeholder="skill" ng-required/>
						<button type="button" class="btn btn-primary" ng-click="AddSkill()">Save</button>
						<button type="button" class="btn btn-default" ng-click="CancelFormSkill()">Cancel</button>
					</form>
				</div>
				<div class="clearfix"></div>
				
				<hr/>
				
				<div class="row container" style="margin-left:20px;">
					<div class="row">
						<div class="col-sm-3 ">
							<image style="display: inline; width: 30px;height: 30px; margin-left: 60px" src="{{myData.IMAGES.education}}">
							<span><strong>Education</strong></span>
						</div>
						<div class="col-sm-2 col-sm-offset-5">
							<button type="button" class="btn btn-default" ng-click="hideeducation=true">
							Add
							</button>
						</div>
					</div>
					
					</br>
					<ul style="margin-left:80px;">
						<li><a style="color:black;" href="#" editable-text="myData.EDUCATION.education1">{{myData.EDUCATION.education1|| "empty" }}</a></li>
					</ul>
					<form class="container" style="margin-left:100px;" ng-show="hideeducation">
						<input type="text" ng-model="education" placeholder="education" ng-required/>
						<button type="button" class="btn btn-primary" ng-click="AddEducation()">Save</button>
						<button type="button" class="btn btn-default" ng-click="CancelFormEducation()">Cancel</button>
					</form>
					</br></br>
				</div>
				<div class="clearfix"></div>
			</div>
	    </div>
		
	</body>
</html>